<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>HealthSafe_page_info</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" style="text:css" href="./stylesheets/info.css" />
</head>

<body>
    <h3> Mr / Mme Medecin</h3>
    <a href="/home">
        <img class="logo_home" src="../img/home_page_2.png" alt="home" />
    </a>
    <img class="logo_reglage" src="../img/reglage_3.png" alt="page reglage" />
    <div class="cont">
        <div class="patient_box">
            <h1>Infos patient</h1>
            <div class="info_patient_box">
                <img class="photo_patient" src="../img/avatar.png" alt="photo_patient" />
                <ul class="info_client">
                    <li>
                        <%= firstname %>
                    </li>
                    <li>
                        <%= lastname %>
                    </li>
                    <li>
                        <%= age %> ans
                    </li>
                    <li>
                        <%= gender %>
                    </li>
                    <li>Taille :
                        <%= height %> cm
                    </li>
                    <li>Poids :
                        <%= weight %>
                    </li>
                    <li>Médecin traitant :
                        <%= doctor %>
                    </li>
                </ul>
                <form action=""> </form>
            </div>
        </div>
        <div class="importante_box">
            <h1>Infos importantes</h1>
            <div class="info_importante_box">
                <ul class="info_client_importante">
                    <li>Numéro d'urgence :
                        <%= emergencyNumber %>
                    </li>
                    <li>Numéro de sécurité sociale :
                        <%= socialNumber %>
                    </li>
                    <li>Groupe sanguin :
                        <%= bloodType %>
                    </li>
                    <li>Allergies :
                        <%= allergies %>
                    </li>
                    <li>Traitements en cours :
                        <%= treatments %>
                    </li>
                    <li>Donneur d'organe :
                        <%= organDonation %>
                    </li>
                </ul>
                <form action="">
                    <div class="logo"></div>
                </form>
            </div>
        </div>
        <div class="derniere_visite_box">
            <h1>Infos dernière visite</h1>
            <div class="info_derniere_visite_box">
                <ul class="info_derniere_visite">
                    <li>Visite mensuel du 07/08/2019 (rien à signaler)
                        <%= medicalHistory %>
                    </li>
                </ul>
                <form action=""></form>
            </div>
        </div>
    </div>
</body>

</html>